.dashboard-container {
  display: flex;
  height: 100vh;
}

.left-section {
  width: 10%;
  background-color: #f1f1f1;
  padding: 10px;
  /* Add any additional styling for the left section */
}

.right-section {
  width: 40%;
  background-color: #f1f1f1;
  padding: 10px;
  /* Add any additional styling for the left section */
}

.middle-section {
  width: 60%;
  flex-grow: 1;
  background-color: #f1f1f1;
  padding: 10px;
  /* Add any additional styling for the right section */
}

.close-button-container {
  display: flex;
  justify-content: flex-end;
}

#close-button, #close-popup-btn {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #555;
}

#close-button:hover, #close-popup-btn:hover {
  color: #000;
}

#upload-form {
  z-index: 4;
  display: flex;
  flex-direction: column;
}

#upload-form label {
  margin-bottom: 10px;
}

#upload-form input,
#upload-form textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

#video-player-section {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 487px;
  border: 3px solid lightgrey;
}

#video-player {
  width: 487px;
  height: 487px;
}

#annotation-canvas {
  width: 487px;
  height: 487px;
  position: absolute;
}

#annotation-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /*padding: 30px 0; !* Add 10 pixels of padding on the top and bottom *!*/
}

.video-buttons {
  text-align: center;
  padding: 20px 0;
}

/*.video-buttons i {*/
/*  font-size: 20px;*/
/*  margin: 0 10px;*/
/*}*/

.video-button {
  background-color: #eaeaea;
  border: none;
  cursor: pointer;
  padding: 10px;
  transition: background-color 0.3s;
}

.video-button:hover {
  background-color: #d3d3d3;
}

.video-button i {
  font-size: 20px;
}

.hidden {
  display: none;
}

#progress-bar-container {
  width: 100%;
  height: 8px;
  background-color: #ccc;
  position: relative;
  cursor: pointer;
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #ff0000;
}

#video-search-bar {
  max-width: 100%; /* Limit the maximum width to the parent container's width */
}

.search-input-container {
  width: 100%; /* Ensure the input container takes full width */
}

#search-bar {
  width: 100%; /* Set the input width to fill the container */
  box-sizing: border-box; /* Include padding and border in the total width */
  height: 28px;
  font-style: italic;
  font-size: 16px;
}

#time-display {
  position: absolute;
  bottom: -20px;
  right: 10px;
  font-size: 12px;
  color: #333;
}

#custom-controls {
  /*display: flex;*/
  align-items: center;
  /*padding: 30px 0; !* Add 10 pixels of padding on the top and bottom *!*/
}

#video-player-section {
  background-color: #eaeaea; /* Replace with your desired background color */
}

#annotation-section {
  position: relative;
}

#annotation-list {
  list-style-type: none;
  padding: 0;
}

.annotation-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.annotation-item span {
  margin-right: 10px;
}

.annotation-item button {
  margin-left: 10px;
}

#error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

body, button {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0px;
}

/* Table styles */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Table header styles */
.table thead {
  background-color: #f1f1f1;
}

/* Table header cells */
.table th {
  padding: 10px;
  text-align: left;
  font-weight: bold;
}

/* Table body styles */
.table tbody {
  background-color: #fff;
}

/* Table body rows */
.table tr {
  transition: background-color 0.3s ease;
}

/* Alternating row colors */
.table tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect on rows */
.table tr:hover {
  background-color: #eaeaea;
}

/* Annotation row styles */
.annotation-row {
  background-color: #f1f1f1;
}

/* Highlighted annotation row styles */
.highlight {
  background-color: #4CAF50;
  font-weight: bold;
}

.sub-header {
  background-color: #f1f1f1; /* Set the background color for the sub-header */
  padding: 10px 10px;
}

.sub-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 0px; /* Adjust the bottom margin as needed */
}

.sub-header-content h3 {
  margin: 0px;
}

#content-wrapper {
  display: flex;
  justify-content: flex-end; /* Align content to the right side */
}

#upload-button {
  border: 0px;
  padding: 7px;
  background-color: #3B3B3B; /* Set the button background color */
  color: #fff; /* Set the button text color */
  font-size: 18px; /* Set the button font size */
  /*font-weight: bold;*/
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition effect to the background color */
}

#upload-button:hover {
  background-color: #4CAF50; /* Change the background color on hover */
}

.annotation-button-container {
  display: flex;
  justify-content: space-between;
}

.annotation-button-container i {
  font-size: 16px; /* Adjust the font size as needed */
  cursor: pointer;
  color: #333; /* Adjust the color as needed */
  transition: color 0.3s ease;
}

.annotation-button-container i:hover {
  color: #4CAF50; /* Adjust the hover color as needed */
}

/* Media query for screen sizes where the buttons should be stacked */
@media (max-width: 600px) {
  .annotation-button-container {
    flex-direction: column;
  }
}

.cool-table {
  width: 100%;
  border-collapse: collapse;
}

.cool-table th,
.cool-table td {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.cool-table th {
  background-color: #f1f1f1;
  font-weight: bold;
}

.cool-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.cool-table tbody tr:hover {
  background-color: #eaeaea;
}

/* Common Styles */
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 4;
}

.popup h3 {
  margin-top: 0;
}

.popup input[type="text"],
.popup textarea,
.popup select {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.popup button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #555;
}

.popup .hidden {
  display: none;
}

/* Upload Popup Styles */
#upload-popup {
  width: 400px;
}

#upload-popup label {
  display: block;
  margin-bottom: 5px;
}

/* Annotation Popup Styles */
#annotation-popup {
  width: 300px;
}

#annotation-popup textarea {
  width: 280px;
  height: 80px;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

#annotation-popup select {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.video-placeholder {
  position: relative;
  background-color: #333;
  width: 100%;
  height: 100%;
  color: #3B3B3B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video-placeholder-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.video-placeholder-overlay p {
  font-size: 16px;
}

.video-placeholder-overlay a {
  color: #4CAF50;
  text-decoration: underline;
}

.placeholder-play-button {
  font-size: 100px;
  /*color: #808080;*/
  margin-bottom: 10px;
}

#arrow-table-container {
  position: absolute;
  bottom: 0;
  right: 10px;
  opacity: 0.5;
}

#arrow-table {
  width: 85px;
  height: 95px;
  table-layout: fixed;
  background-color: transparent;
}

#arrow-table td {
  width: 33.33%;
  height: 33.33%;
  position: relative;
  text-align: center;
}

.arrow-cell {
  position: relative;
}

.arrow-cell i {
  font-size: 30px;
  line-height: 0;
}

.arrow-cell i.fa-arrow-up,
.arrow-cell i.fa-arrow-down {
  margin: 5px 0;
}

.arrow-cell i:hover {
  color: #4CAF50; /* Change the hover color as desired */
}

.speed-dropdown {
  position: absolute;
  top: 10px;
  right: 9px;
  z-index: 2;
}

.speed-button {
  background-color: #3B3B3B;
  border: none;
  color: #fff;
  padding: 7px 13px; /* Increase the padding to make the button larger */
  cursor: pointer;
  display: flex;
  align-items: center;
  /*border-radius: 30px; !* Adjust the border radius to make the edges more curved *!*/
  font-size: 16px; /* Increase the font size to make the text larger */
  transition: background-color 0.3s ease; /* Add transition effect to the background color */
}

.speed-button:hover {
  background-color: #4CAF50; /* Change the hover color as desired */
}

.speed-button i {
  margin-right: 10px; /* Increase the margin to add more spacing between the icon and text */
  font-size: 16px;
}

.speed-options {
  display: none;
  position: absolute;
  background-color: #3B3B3B;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 5px;
  right: 0;
  width: 205px; /* Adjust the width as needed */
  z-index: 3;
  /*border-radius: 10px; !* Add border radius to make the options container rounded *!*/
  display: flex; /* Use flexbox to align options side by side */
  justify-content: space-between; /* Spread the options evenly */
}

.speed-option {
  cursor: pointer;
  padding: 3px 10px; /* Increase padding to make the buttons larger */
  text-align: center; /* Center the text within the buttons */
  font-size: 13px;
}

.speed-option:not(:last-child) {
  background: #D8D7D5;
}

.speed-option:hover {
  background-color: #ddd;
}

.speed-option.selected {
  background-color: #4CAF50; /* Highlight the selected option */
  color: #fff; /* Change text color to white for the selected option */
}
