/* Style the select element */
.status-select {
  width: 70%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}

/* Style the options within the select element */
.status-select option {
  font-size: 16px;
  background-color: #fff;
}

/* Style the select element when it's hovered over */
.status-select:hover {
  background-color: #e8e8e8;
}

/* Style the select element when it's focused */
.status-select:focus {
  outline: none;
  border: 1px solid #D34876FF;
}

/* Style the select element when an option is selected */
.status-select:active,
.status-select:checked {
  background-color: #007bff;
  color: #fff;
}

/* Style the table row when the dropdown is focused */
.status-select:focus + td {
  background-color: #e8e8e8;
}

.cool-table {
  width: 100%; /* Optionally set the width to 100% */
  margin-bottom: 70px; /* Adjust the margin as needed */
}


.board {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.list {
  flex: 1;
  margin: 0 10px;
}

.card {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.cool-table {
  width: 100%;
  border-collapse: collapse;
}

.cool-table th, .cool-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.cool-table th {
  background-color: #f2f2f2;
}
